body {
    font-family: Arial;
      background-color: #f4f4f4;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      max-height: 2500px;
    }
    p {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }
    input[type="text"],
    select {
      width: 96%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 14px;
      flex: 1;
    }
    input[type="submit"] {
      width: 360px;
      background-color: #007bff;
      color: white;
      padding: 10px;
      border: none;
      border-radius: x;
      font-size: 16px;
      cursor: pointer;
    }
    input[type="submit"]:hover {
      background-color: #0056b3;
    }
    .in,.out{
    gap: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    max-width: 350px;
    }
    .valuta{
    background: #f0f0f0;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    }