body {
    font-family: Arial;
      background-color: #f4f4f4;
      display: flex;
      justify-content: right;
      align-items: center;
      height: 100vh;
      margin: 0;
    }
    p {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }
    input[type="text"],
    select {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 14px;
    }
    input[type="submit"] {
      width: 100%;
      background-color: #007bff;
      color: white;
      padding: 10px;
      border: none;
      border-radius: x;
      font-size: 16px;
      cursor: pointer;
    }
    input[type="submit"]:hover {
      background-color: #0056b3;
    }
    .in{
width: 40%;
padding: 10px;
    }
    .out{
width: 4%;
padding: 10px;
    }
    select{
      cursor: pointer;
    }